<html>
  <head>
    <link rel="stylesheet" href="css/style.css" type="text/css">
  </head>
  <body>
    <table class="cipher_table">
      <tr>
        <th>&nbsp;</th>
        <th class="col">A</th>
        <th class="col">B</th>
        <th class="col">C</th>
        <th class="col">D</th>
      </tr>
      <tr>
        <th class="row">1</th>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
      </tr>
      <tr>
        <th class="row">2</th>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
      </tr>
      <tr>
        <th class="row">3</th>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
      </tr>
      <tr>
        <th class="row">4</th>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
        <td><%= [*1..9, *'A'..'Z', *'a'..'z'].sample(4).join %></td>
      </tr>
    </table>
  </body>
</html>

